.card {
  padding: 8px 4px;
  border-left: 0px solid transparent;
  transition: all 0.2s;
  align-items: center;
  column-gap: 16px;

  &:hover {
    cursor: pointer;
    padding-left: 6px;
    border-left: 2px solid #e5e5e55d;
    background-color: rgba(0,0,0,0.3);
  }

  .title,
  .description {
    font-size: 18px;
    font-weight: 500;
  }
}
